// BG COLOR THEME LIGHT MODE
$BgColorLightMode: #fff;

// TEXT COLOR THEME LIGHT MODE
$TextColorLightMode: #333;

// BG COLOR THEME DARK MODE
$BgColorDarkMode: #333;

// TEXT COLOR THEME DARK MODE
$TextColorDarkMode: #fff;