@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';

// IMPORTO VARIABLES.SCSS
@import './partials/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** LAYOUT *************************************/

header {
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
}

main {
    padding-top: 70px;
}

.cursor-pointer {
    cursor: pointer;
}

.icon {
    cursor: pointer;
}

.router-link {
    text-decoration: none;
}

.sidebar-router-link {
    font-weight: bold;

    span {
        font-size: 18px;
    }
}

.active-router-link {
    background-color: rgba(0, 0, 0, 0.158);
}

@media screen and (min-width: 992px) {
    header {
        height: 90px;
    }

    main {
        padding-top: 90px;
        height: 100vh;
        display: flex;
    }

    .desktop-main-sidebar {
        width: 300px;
    }

    .main-content {
        width: calc(100vw - 300px);
        overflow-y: auto;
    }
}

/*** LIGHT-MODE *************************************/

body.light-mode {
    background-color: $BgColorLightMode;
    color: $TextColorLightMode;

    th,
    td {
        background-color: $BgColorLightMode;
        color: $TextColorLightMode;
    }

    i.light-icon {
        color: black;
    }
}

header.light-mode {
    background-color: $BgColorLightMode;
    color: $TextColorLightMode;
}

.light-router-link {
    color: $TextColorLightMode;
}

.main-sidebar {

    .light-sidebar-router-row {
        border-top: 3px solid rgb(235, 235, 235);

        .light-sidebar-router-link {
            border-bottom: 3px solid rgb(235, 235, 235);
            color: $TextColorLightMode;
        }
    }
}

/*** DARK-MODE *************************************/

body.dark-mode {
    background-color: $BgColorDarkMode;
    color: $TextColorDarkMode;

    th,
    td {
        background-color: $BgColorDarkMode;
        color: $TextColorDarkMode;
    }

    i.dark-icon {
        color: white;
    }

    .dark-mode-task-modals {
        background-color: $BgColorDarkMode;
        color: $TextColorDarkMode;
    }
}

header.dark-mode {
    background-color: $BgColorDarkMode;
    color: $TextColorDarkMode;

    .dark-mobile-sidebar {
        background-color: $BgColorDarkMode;
        color: $TextColorDarkMode;
    }
}

.dark-router-link {
    color: $TextColorDarkMode;
}

.main-sidebar {

    .dark-sidebar-router-row {
        border-top: 3px solid rgb(63, 63, 63);

        .dark-sidebar-router-link {
            border-bottom: 3px solid rgb(63, 63, 63);
            color: $TextColorDarkMode;
        }
    }
}

/************************************************/