@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';

// IMPORTO VARIABLES.SCSS
@import './partials/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************************************/

body.light-mode {
    background-color: $BgColorLightMode;
    color: $TextColorLightMode;

    th,
    td {
        background-color: $BgColorLightMode;
        color: $TextColorLightMode;
    }
}

header.light-mode {
    background-color: $BgColorLightMode;
    color: $TextColorLightMode;

    .router-link {
        color: $TextColorLightMode;
    }
}

/************************************************/

body.dark-mode {
    background-color: $BgColorDarkMode;
    color: $TextColorDarkMode;

    th,
    td {
        background-color: $BgColorDarkMode;
        color: $TextColorDarkMode;
    }
}

header.dark-mode {
    background-color: $BgColorDarkMode;
    color: $TextColorDarkMode;

    .router-link {
        color: $TextColorDarkMode;
    }
}

/************************************************/